#r{
    padding: 5px;
    border-radius: 35px;
    width: 90px;
    height: 70px;
    font-size: 30px;
    box-shadow: 8px;
    background-color: rgb(59, 58, 58);
    border-width: 0px;
    color: white
}
td{
    padding: 9px;
    box-shadow: 10px;
}
table{
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    border-radius: 34px;
    padding: 25px;
}
.r{
    background-color: lime;
}
body{
    font-family: 'Kdam Thmor Pro', sans-serif;
}
h2{
    color: white;
    font-size: 27px;
    font-family: 'Playball', cursive;

}
.cur{
    
    transform: translateX(40px);
}
.box{
    width: 400px;
    height: 50px;
    border-radius: 12px;
    color: rgb(19, 160, 19);
    background-color: black;
    font-size: 30px;
    border-width: 0px;
    font-weight: bold;
}